<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Phantom of the Algebra</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous"
    >
    <link rel="icon" href="{{ url_for('static', filename='ghost.png') }}">
    <!-- Ghost icons created by Good Ware - Flaticon https://www.flaticon.com/free-icons/ghost -->
</head>
<body>
{% block page_body %}

{% endblock %}
</body>
</html>
{% block scripts %}

{% endblock %}
